<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 d-flex py-3">
      <input
        class="form-control d-inline"
        type="text"
        name="search"
        [(ngModel)]="searchText"
        autocomplete="off"
        placeholder="Start searching"
        (keyup.enter)="callSearch()"
      />
      <div ngbDropdown class="d-inline">
        <button
          class="btn btn-primary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          Filter
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="lessThanData()">Less salary</button>
          <button ngbDropdownItem (click)="greaterThanData()">Greater salary</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Emp Name</th>
          <th>Emp Email</th>
          <th>Emp Salary</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let empData of objectsFromEmpDataStorage"
        >
          <td>{{ empData.name }}</td>
          <td>{{ empData.email }}</td>
          <td>{{ empData.salary }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button
    type="button"
    class="btn fab"
    data-toggle="tooltip"
    data-placement="top"
    title="Create List"
    (click)="createList()"
  >
    +
  </button>
</div>
